.Container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  min-height: 100%;
  overflow: auto;
}
#editor-container {
  display: flex;
  height: 400px;
  align-items: center;
  justify-content: center;
  background-color: white;
}
#preview-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;  
  background-color: white;
  min-height: 450px;
  max-height: 1000;
} 

#editor { 
  height: 250px;    
  width: 600px; 
  border-top: 30px solid black;
  background-color: lightgrey;
}
#preview {
  min-height: 150px;
  max-height: 1000px;
  background-color: lightgrey;
  width: 800px;
  overflow: hidden;
  resize: none;
  border-top: 30px solid black;
}
#preview-expand {
  position: relative;
  left: 795px;
  top: 5px; 
  color: white;
}
#editor-expand {
  color: white;
  position: relative;
  bottom: 127px;
  left: 600px;
}